<<<<<<< HEAD
<%= form_tag(new_report_card_path, method: "get") do %>
=======
<%= form_tag("report_cards_path", method: "get") do %>

>>>>>>> 6ac932b5ccc887ed288d9bd3a5f08276adf7ec89

  <h1><%= @test.name %></h1>
  <%= render 'testform' %>

  <%= submit_tag("Submit") %>
<% end %>
